<!-- slider.component.html
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let image of images" class="slide">
    <h3>{{ image.title }}</h3>
    <p>Author: {{ image.author }}</p>
    <p>Category: {{ image.category }}</p>
    <img [src]="image.image" alt="Obrazek">
  </div>
</ngx-slick-carousel>
-->

  <nav>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">First Component</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Second Component</a></li>
    </ul>
  </nav>


