<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<div *ngIf="filmShows.length">
  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Tytuł Filmu</th>
        <th scope="col">Data i Czas</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Sala</th>
        <th scope="col">Dostępne Miejsca</th>
        <th scope="col">Rezeracje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let show of filmShows">
        <td>{{ show.film?.title }}</td>
        <td>{{ show.dateTime | date: 'short' }}</td>
        <td>{{ show.cinema?.location }}</td>
        <td>{{ show.room?.name }}</td>
        <td>{{ show.availableSeats }}</td>
        <td><button class="btn btn-primary" (click)="reserveSeat(show)">Zarezerwuj miejsce</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!filmShows.length && !errorMessage" class="alert alert-info" role="alert">
  No film shows available.
</div>
